<mat-tab-group #tabGroup mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Search Flight">
        <div class="d-flex justify-content-center">    
            <div class="card m-3">            
                <div class="card-body">                
                    <form [formGroup]="searchFlightForm" (ngSubmit)="searchFlight()">
                        <div class="form-row">
                            <div class="form-group col-4">                        
                              <label>From Place</label>                        
                              <input type="text" formControlName="fromPlace" class="form-control" [ngClass]="{ 'is-invalid': flightSearched && searchFlightControls.fromPlace.errors }">                       
                              <div *ngIf="flightSearched && searchFlightControls.fromPlace.errors" class="invalid-feedback">                            
                                  <div *ngIf="searchFlightControls.fromPlace.errors.required">From Place is required</div>                            
                              </div>       
                            </div>  
                            <div class="form-group col-4">                        
                              <label>To Place</label>                        
                              <input type="text" formControlName="toPlace" class="form-control" [ngClass]="{ 'is-invalid': flightSearched && searchFlightControls.toPlace.errors }">                       
                              <div *ngIf="flightSearched && searchFlightControls.toPlace.errors" class="invalid-feedback">                            
                                  <div *ngIf="searchFlightControls.toPlace.errors.required">To Place is required</div>                            
                              </div>       
                            </div>
                            <div class="form-group col-4">                        
                                <label>Journey Date</label>                        
                                <input type="date" formControlName="journeyDate" class="form-control" [ngClass]="{ 'is-invalid': flightSearched && searchFlightControls.journeyDate.errors }">                       
                                <div *ngIf="flightSearched && searchFlightControls.journeyDate.errors" class="invalid-feedback">                            
                                    <div *ngIf="searchFlightControls.journeyDate.errors.required">Journey Date is required</div>                            
                                </div>       
                            </div> 
                          </div>
                    <div class="text-center">                        
                        <button class="btn btn-primary mr-1">Search</button>                        
                        <button class="btn btn-secondary ml-3" type="reset" (click)="resetSearchForm()">Clear</button>                   
                    </div>               
                    </form>           
                </div>        
            </div>    
        </div>
    
        <table *ngIf ="flightSearched && searchFlightForm.valid" class="table table-hover mt-3" style="width: 60%; margin-left: 22rem !important;">
            <thead style="text-align: center;">
                <tr>
                    <th scope="col">Airline Name</th>
                    <th scope="col">Dept Time</th>
                    <th scope="col">Reach Time</th>
                    <th scope="col">BizClass TicketPrice</th>
                    <th scope="col">NonBizClass TicketPrice</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                <tr *ngFor="let flightModel of flightDetails">
                    <td>{{flightModel.airlineName}}</td>
                    <td>{{flightModel.departureTime}}</td>
                    <td>{{flightModel.reachTime}}</td>
                    <td>{{flightModel.bizClassTicketPrice}}</td>
                    <td>{{flightModel.nonBizClassTicketPrice}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="tabGroup.selectedIndex = 1" (click)=addFlightDetails(flightModel)>Continue Booking</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>

    <mat-tab label="Book Ticket">
        <div class="d-flex justify-content-center">    
            <div class="card m-3">            
                <div class="card-body">                
                    <form [formGroup]="bookingInfoForm" (ngSubmit)="addBookingInfo()">
                        <div class="form-row">
                            <div class="form-group col-3">                        
                                <label>User Name</label>
                                <input type="text" [(ngModel)]="userName" class="form-control" formControlName="userName" readonly>
                            </div>
                            <div class="form-group col-3">                        
                                <label>EmailId</label> 
                                <input type="text" [(ngModel)]="emailId" class="form-control" formControlName="email" readonly>                       
                            </div>
                            <div class="form-group col-2">                        
                                <label>Bookingclass Type</label>                        
                                <select formControlName="bookingClass" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.bookingClass.errors }" [(ngModel)]="bookingClassSelected">                     
                                    <option value=""></option>                                
                                    <option *ngFor="let class of bookingClassType">{{class}}</option>
                                </select>
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.bookingClass.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.bookingClass.errors.required">Bookingclass Type is required</div>                            
                                </div>       
                            </div>
                            <div class="form-group col-2">                        
                                <label>No Of Seats</label>                        
                                <input type="number" formControlName="noOfSeats" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.noOfSeats.errors }">                       
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.noOfSeats.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.noOfSeats.errors.required">No Of Seats is required</div>                            
                                </div>       
                            </div>
                            <div class="form-group col-2">                        
                                <label>Opted For Meal</label>                        
                                <select formControlName="optForMeal" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.optForMeal.errors }" [(ngModel)]="mealOpted">                       
                                    <option value=""></option>                                
                                    <option *ngFor="let meal of mealList">{{meal}}</option>                                
                                </select>
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.optForMeal.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.optForMeal.errors.required">Opted For Meal is required</div>                            
                                </div>       
                            </div>
                        </div>
                        <h3>Passenger Details:</h3>
                        <div class="form-row">
                            <div class="form-group col-4">                        
                                <label>Name</label>                        
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.name.errors }">                       
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.name.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.name.errors.required">Name is required</div>                            
                                </div>       
                            </div>                    
                            <div class="form-group col-2">                        
                                <label>Age</label>                        
                                <input type="number" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.age.errors }">                       
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.age.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.age.errors.required">Age is required</div>                            
                                </div>       
                            </div>
                            <div class="form-group col-3">                        
                                <label>Gender</label>                        
                                <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.gender.errors }" [(ngModel)]="genderSelected">                     
                                    <option value=""></option>                                
                                    <option *ngFor="let gender of genderType">{{gender}}</option>
                                </select> 
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.gender.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.gender.errors.required">Gender is required</div>                            
                                </div>       
                            </div>
                            <div class="form-group col-2">                        
                                <label>Seat Number</label>                        
                                <input type="text" formControlName="seatNumber" class="form-control" [ngClass]="{ 'is-invalid': bookingInfoAdded && bookingInfoControls.seatNumber.errors }">                       
                                <div *ngIf="bookingInfoAdded && bookingInfoControls.seatNumber.errors" class="invalid-feedback">                            
                                    <div *ngIf="bookingInfoControls.seatNumber.errors.required">SeatNumber is required</div>                            
                                </div>       
                           </div>
                            <div class="form-group col-1 mt-4">
                                <button class="btn btn-success" (click)="addPassenger(bookingInfoForm.value)" *ngIf="(bookingInfoForm.value.noOfSeats > passengerCount)">+</button>
                            </div>
                        </div> 
                        <div class="text-center">                        
                            <button class="btn btn-primary mr-1" (click)="tabGroup.selectedIndex = 2">Continue Booking</button>                        
                            <button class="btn btn-secondary ml-3" type="reset" (click)="resetBookingForm()">Clear</button>                   
                        </div>           
                    </form>            
                </div>        
            </div>    
        </div>        
    </mat-tab>

    <mat-tab label="Apply Discount">
        <div class="d-flex justify-content-center">
            <div class="card m-3">
                <div class="card-body">
                    <form [formGroup]="discountForm" (ngSubmit)="applyDiscount()">
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label>Discount Code</label>
                                <input type="text" placeholder="Have code? enter here" formControlName="discountCode" class="form-control" [ngClass]="{ 'is-invalid': discountApplied && discountFormControls.discountCode.errors }">
                                <div *ngIf="discountApplied && discountFormControls.discountCode.errors" class="invalid-feedback">                            
                                    <div *ngIf="discountFormControls.discountCode.errors.required">Discount Code is required</div>                            
                                </div> 
                            </div>
                            <div class="mt-4 col-1">
                                <button class="btn btn-success" [disabled]="!discountFormControls.discountCode.value">Apply</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">                        
                        <button class="btn btn-primary mt-2" (click)="bookTicket()">Book Ticket</button>                        
                    </div>
                </div>
            </div>
        </div>>
    </mat-tab>
    
    <mat-tab label="Manage Bookings">
        <div class="mt-3 text-center">
            <label class="d-inline mr-3"><span>PNR:</span></label>
            <input type="text" class="d-inline" placeholder="Enter PNR" [(ngModel)]="pnrNumber">
            <button class="btn btn-sm btn-primary ml-3" [disabled]="pnrNumber.length < 4" (click)="getTicketDetailsByPNR(pnrNumber)">Get Ticket</button>
        </div>
        <div *ngIf="ticketFetched">
            <div id="content" #content>
                <h3 class="mt-4" style="text-align: center;">Ticket Information</h3>
                <table class="table table-hover">
                    <thead style="text-align: center;">
                        <tr>
                            <th>BookingId</th>
                            <th>PNR</th>
                            <th>FlightId</th>
                            <th>Airlinename</th>
                            <th>JourneyDate</th>
                            <th>TotalPrice</th>
                            <th>BookingClass</th>
                            <th>BookingStatus</th>
                            <th>NoOfSeats</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>{{ticketDetails.bookingId}}</td>
                            <td>{{ticketDetails.pnr}}</td>
                            <td>{{ticketDetails.flightId}}</td>
                            <td>{{ticketDetails.airlineName}}</td>
                            <td>{{ticketDetails.journeydate}}</td>
                            <td>{{ticketDetails.totalPrice}}</td>
                            <td>{{ticketDetails.bookingClass}}</td>
                            <td>{{ticketDetails.ticketStatus}}</td>
                            <td>{{ticketDetails.noOfSeats}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-right mt-3">
                <button class="btn btn-primary mr-5" (click)="viewPassengerInfo(ticketDetails.passengerList)">View</button>
                <button class="btn btn-primary mr-5" (click)="cancelTicketDetailsByPNR(ticketDetails.pnr)" *ngIf="!cancelAllowed">Cancel</button>
                <button class="btn btn-primary mr-5" (click)=downloadTicket()>Download</button>
            </div>
        </div>
    </mat-tab>
    
    <mat-tab label="Booking History">
        <div>
            <h3 class="mt-4" style="text-align: center;">Ticket Booking History</h3>
            <table class="table table-hover">
                <thead style="text-align: center;">
                    <tr>
                        <th>BookingId</th>
                        <th>PNR</th>
                        <th>FlightId</th>
                        <th>Airlinename</th>
                        <th>JourneyDate</th>
                        <th>TotalPrice</th>
                        <th>BookingClass</th>
                        <th>BookingStatus</th>
                        <th>NoOfSeats</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;" *ngFor="let ticket of bookingHistory">
                    <tr>
                        <td>{{ticket.bookingId}}</td>
                        <td>{{ticket.pnr}}</td>
                        <td>{{ticket.flightId}}</td>
                        <td>{{ticket.airlineName}}</td>
                        <td>{{ticket.journeydate}}</td>
                        <td>{{ticket.totalPrice}}</td>
                        <td>{{ticket.bookingClass}}</td>
                        <td>{{ticket.ticketStatus}}</td>
                        <td>{{ticket.noOfSeats}}</td>
                        <td>
                            <button class="btn btn-secondary" (click)=viewPassengerInfo(ticket.passengerList)>View Passengers</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>         
    </mat-tab>
</mat-tab-group>
